.archive-list {
  ul {
    margin: 1rem;
    padding-inline-start: 0;

    li {
      list-style-type: none;
      & > ul {
        margin: 0;
        padding-inline-start: 2rem;
      }
    }
  }

  a[href] {
    color: var(--link-color);
    text-decoration: underline;

    &:hover {
      background-color: var(--primary-color);
      color: var(--primary-text-color);
      text-decoration: none;
    }
  }
}

.archive-item {
  display: flex;
  align-items: center;
}

.archive-count {
  margin-left: 0.5rem;
  padding: 0 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 10rem;
  background-color: var(--bg-color);
  color: var(--text-secondary-color);
  font-size: 60%;
}
