footer {
  width: 100%;
  height: var(--footer-height);
  position: absolute;
  bottom: 0;
  background-color: var(--footer-bg-color);
  color: var(--footer-color);

  & > .inside {
    height: var(--footer-height);
    margin-top: auto;
    margin-bottom: auto;

    overflow: hidden;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  svg {
    width: 2rem;
    height: 2rem;
  }

  a[href] {
    text-decoration: underline;
  }
}
