.tag-list {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.tags-list {
  list-style-type: none;
  padding-inline-start: 0;
}

.tag-list-item {
  margin-bottom: 1rem;

  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.tag-list-container {
  display: inline-flex;
  padding: 0 0.75rem;
  border: 1px solid var(--primary-color);
  border-radius: 10rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1.tag-list-container {
  border: 2px solid var(--primary-color);
}

.tag-count {
  border-left: 1px solid var(--primary-color);
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  color: var(--text-secondary-color);
}
