:root {
  --header-height: 3rem;
  --footer-height: 8rem;
  --content-margin: 0.5rem;
  --side-margin: 1.5rem;
  --site-max-width: 1024px;
  --inside-width: calc(100% - var(--side-margin) * 2);
  --inside-max-width: calc(var(--site-max-width) - var(--side-margin) * 2);
  --code-block-padding: 0.5rem;

  --primary-color: #007acc;
  --primary-text-color: #ffffff;
  --header-color: #ffffff;
  --header-bg-color: #007accbb;

  // Light
  --bg-color: #ffffff;
  --text-color: #000000;
  --link-color: #007acc;
  --text-inverted-color: #ffffff;
  --text-secondary-color: #888888;
  --quote-bg-color: #eeeeee;
  --nested--quote-bg-color: #00000011;
  --footer-color: #666666;
  --footer-bg-color: #eeeeee;

  // Dark
  @media (prefers-color-scheme: dark) {
    --bg-color: #000000;
    --text-color: #ffffff;
    --link-color: #039aff;
    --text-inverted-color: #000000;
    --text-secondary-color: #aaaaaa;
    --quote-bg-color: #222222;
    --nested--quote-bg-color: #ffffff11;
    --footer-color: #aaaaaa;
    --footer-bg-color: #222222;
  }

  // Mobile
  @media screen and (max-width: 559px) {
    --side-margin: 1rem;
  }
}
