pre[class^="language-diff"] {
  padding-left: calc(var(--code-block-padding) + 2ch);

  .token.inserted:not(.prefix) {
    display: block;
    background: linear-gradient(to right, rgba(#00ff00, 0.1) 50%, transparent);
    margin-left: -2ch;
    padding-left: 2ch;
  }
  .token.prefix.inserted {
    visibility: collapse;
    display: inline-block;
    width: 2ch;
    margin-left: -2ch;
    &::before {
      content: "+";
      visibility: visible;
      color: #098658;
    }
  }

  .token.deleted:not(.prefix) {
    display: block;
    background: linear-gradient(to right, rgba(#ff0000, 0.1) 50%, transparent);
    margin-left: -2ch;
    padding-left: 2ch;
  }
  .token.prefix.deleted {
    visibility: collapse;
    display: inline-block;
    width: 2ch;
    margin-left: -2ch;
    &::before {
      content: "-";
      visibility: visible;
      color: #a31515;
    }
  }

  .token.prefix.unchanged {
    visibility: collapse;
    display: inline-block;
    width: 2ch;
    margin-left: -2ch;
    &::before {
      content: " ";
      visibility: visible;
    }
  }

  // https://github.com/PrismJS/prism/issues/2594
  .token.plain-text > .token.prefix:only-child {
    display: none;
  }
}
