.article-title {
  font-size: 1.8rem;
  margin: 0.2rem 0;
}

.article-date {
  margin: 0.2rem 0;
  color: var(--text-secondary-color);
  svg[data-icon] {
    margin-right: 0.5rem;
  }
}

.article-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0.2rem 0;
  list-style-type: none;
  padding-inline-start: 0;

  li {
    margin-bottom: 0.2rem;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    a {
      padding: 0 0.75rem;
      border: 1px solid var(--primary-color);
      border-radius: 10rem;
      background-color: var(--bg-color);
      color: var(--text-secondary-color);
    }
  }
}
